@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 100%;
}
.section {
    margin-bottom: 3rem;
}
.header{
    background-image: url("/assets/img/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.header__data,
.header__img {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.header__title {
    font-size: 50px;
}

.header__name {
    color: orange;
}

.header__link {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient( 45deg, lightSalmon, tomato);
}

.header__description {
    color: dimgray;
    margin-bottom: 15px;
}

.dream-section {
    display: flex;
    background-image: url("/assets/img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.dream-section__img{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    order: -1;
}

.dream__title {
    font-size: 40px;
}

.w-50 {
    width: 40%;
    margin-left: 5%;
    padding-right: 2%;
}

.experience__content {
    display: flex;
}

.experience__sub {
    color: orange;
}

.experience__box{
    padding: 20px;
    padding-left: 30px;
    box-shadow: 10px 10px 40px gray;
    margin-bottom: 50px;
    background-color: honeydew;
}
.experience__section-title{
    font-size: 30px;
    margin-left: 5px;
    font-weight: 300;
}

.experience{
    background-image: url("/assets/img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack {
    border-left: 10px solid;
    border-image: linear-gradient(180deg ,lightSalmon, tomato);
    border-image-slice: 1;
}

#baby-stack {
    border-left: 10px solid;
    border-image: linear-gradient(180deg ,blue, cyan);
    border-image-slice: 1;
}

footer {
    text-align: center;
    color: dimgray;
    font-size: 0.8rem;
}